<!-- _footer.html.erb -->
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/mlrcbsousa"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/mlrcbsousa/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/mlrcbsousa/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/mlrcbsousa/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This site was made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
