<!-- app/views/cocktails/index.html.erb -->
<div class="container">
  <h1>List of Cocktails</h1>

  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <h3><%= cocktail.name %></h3>
    <% end %>
  <% end %>

  <%= link_to new_cocktail_path do %>
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  <% end %>
</div>
