<!-- app/views/cocktails/index.html.erb -->
<h1>List of Cocktails</h1>

<%= link_to 'Add Cocktail', new_cocktail_path %>

<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <h3><%= cocktail.name %></h3>
  <% end %>
<% end %>
